{% extends "layout/index.twig" %}

{% block content %}
    <div id="content">
        <div class="inner">
            <article class="box post post-excerpt">
            {% for user in users %}

                <!-- Create table which displays all users -->

            {% endfor %}
            </article>
        </div>
    </div>
{% endblock %}